<div class="container-fluid p-0 bg-gray">

    <div class="jumbotron bg-cover" style="background-image:  url(assets/images/services/rnd.png)">
        <section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_bg_layout_dark et_pb_text_align_center">
            <div class="et_pb_fullwidth_header_container center">
                <div class="header-content-container center">
                    <div class="header-content">
                        <p class=" text-white  text-center font-weight-light font-size-xx-large">Home -> Services </p>
                        <h2 class=" text-white  text-center  animated zoomIn">React Native Development </h2>
                    </div>
                </div>
            </div>
            <div class="et_pb_fullwidth_header_overlay"></div>
            <div class="et_pb_fullwidth_header_scroll"></div>
        </section>
        <!-- <div class="p-9">
                <h1 class="et_pb_module_header text-white  text-center bg-word animated zoomIn">Our Services</h1>
            </div> -->
    </div>

    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="assets/images/services/Image_01.jpg" class="img-fluid">
            </div>
            <div class="col-lg-6 ">
                <h2 class="cloudin-text font-weight-normal">REACT NATIVE APP DEVELOPMENT SERVICES</h2>
                <span>Highly Creative Design</span>
                <p class="mt-3">Cloudin, being the top notch mobile app development company, aims at developing dynamic & custom applications using React Native framework.</p>
                <p>Right from designing an intuitive UI, developing cross-platform mobile apps for Android, iOS and other platforms to customizing the mobile application, our React Native services cover the entire gamut of development.</p>
                <p>Our experts have a strong understanding of React Native API library to fast-paced development.</p>
                <p class="font-italic">To Know more about Cloudin Technologies Contact us or you can check our portfolio.</p>
                <a class="cloudin-btn text-white p-1 pl-2 pr-2">Ask the Expert</a>
                <a class="p-1 border border-radius pl-2 pr-2"><span class="cloudin-text ">Live Preview</span></a>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="assets/images/services/Image_02.jpg" class="img-fluid float-right mt-5">
            </div>
            <div class="col-lg-5 ">
                <div class="card  ml-minus-30  border-bottom-card p-3">
                    <h1 class="cloudin-text font-weight-light text-center">Why Choose React Native Development Services?</h1>
                    <h5 class="text-center mt-2">React Native is one of the most popular global app development frameworks with a thriving development community.</h5>
                    <div class="row mt-3">
                        <div class="col-lg-2  col-2">
                            <img src="assets/images/services/Logo.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10  col-10">
                            <h5>CROSS-PLATFORM</h5>
                            <p>React Native supports multiple platforms with no trouble. React Native APIs are cross-platform which enables seamless working across Android & iOS.
                            </p>
                        </div>
                        <div class="col-lg-2 col-2">
                            <img src="assets/images/services/Brochure.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10 col-10">
                            <h5>Usability</h5>
                            <p>It’s simple to drop down to native code if you need to optimize a few aspects of your application.
                            </p>
                        </div>
                        <div class="col-lg-2 col-2">
                            <img src="assets/images/services/Business.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10 col-10">
                            <h5>REDUCED DEVELOPMENT COSTS & TIME</h5>
                            <p>React Native has emerged as perhaps the most efficient and cost-effective mobile app development platform.
                            </p>
                        </div>
                        <div class="col-lg-2 col-2">
                            <img src="assets/images/services/Logo.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10 col-10">
                            <h5>Faster Development</h5>
                            <p>Due to an extensive library of React components available under open source, React Native applications for iOS and Android can be developed much faster when compared to other platforms.Due to an extensive library of React components
                                available under open source, React Native applications for iOS and Android can be developed much faster when compared to other platforms.</p>
                        </div>
                        <div class="col-lg-2 col-2">
                            <img src="assets/images/services/Logo.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10 col-10">
                            <h5>Community Support</h5>
                            <p>The majority of your React Native code is JavaScript, so you reap the benefit of all the advancements in the language and its ecosystem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why V R Different Section -->
<section id="vrdifferent" class="pt-5 pb-5 mt-4 mb-4">
    <h1 class="cloudin-text text-center font-weight-lighter"> Top-Rated React Native App Development Services </h1>
    <!-- <h4 class="lite-black-text text-center">We Are Driven By A Single Goal : The Success Of Your Business</h4> -->
    <br>
    <div class="container-fluid">
        <div class="row m-0 mt-4">
            <div class="col-lg-10 col-md-10 offset-lg-1 offset-md-1">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable height-100">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/Co_Create.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">React Native Consulting</a></h5>
                                <div class="desc text-center lite-black-text">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable height-100">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/High_Velocity.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">Native App Development</a></h5>
                                <div class="desc text-center lite-black-text">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/Flexible.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">App Migration</a></h5>
                                <div class="desc text-center lite-black-text">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable height-100">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/Holistic.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">App Support & Maintenance</a></h5>
                                <div class="desc text-center lite-black-text">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why V R Different Section Ends -->