<div class="container-fluid p-0 bg-gray">

    <div class="jumbotron bg-cover" style="background-image:  url(assets/images/services/Web-Applicaiton-01.png)">
        <section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_bg_layout_dark et_pb_text_align_center">
            <div class="et_pb_fullwidth_header_container center">
                <div class="header-content-container center">
                    <div class="header-content">
                        <p class=" text-white  text-center font-weight-light font-size-xx-large">Home -> Services </p>
                        <h2 class=" text-white  text-center  animated zoomIn">Web Application </h2>
                    </div>
                </div>
            </div>
            <div class="et_pb_fullwidth_header_overlay"></div>
            <div class="et_pb_fullwidth_header_scroll"></div>
        </section>
        <!-- <div class="p-9">
                <h1 class="et_pb_module_header text-white  text-center bg-word animated zoomIn">Our Services</h1>
            </div> -->
    </div>

    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="assets/images/services/Image_01.jpg" class="img-fluid">
            </div>
            <div class="col-lg-6 ">
                <h2 class="cloudin-text font-weight-normal">Mobile App Development at Cloudin</h2>
                <span>Highly Creative Design</span>
                <p class="mt-3">App development requires high creativity and technical knowledge. Being the Top Mobile app developers in Coimbatore, we just not only build apps but also make sure that our clients are getting the best digital solutions.</p>
                <p>We focus on blending creativity, skill-set, and Artificial Intelligence to make the app more user-friendly and productive. Being the top mobile app development company worldwide, we have carved out our own position among our clients by
                    constantly offering top-notch services to them.</p>
                <p>With years of hands-on experience and in-depth knowledge in the area of mobile technology, we have grown to a position where the clients can rely upon us without any second thought. </p>
                <p class="font-italic">To Know more about Cloudin Technologies Contact us or you can check our portfolio.</p>
                <a class="cloudin-btn text-white p-1 pl-2 pr-2">Ask the Expert</a>
                <a class="p-1 border border-radius pl-2 pr-2"><span class="cloudin-text ">Live Preview</span></a>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="assets/images/services/Image_02.jpg" class="img-fluid float-right mt-5">
            </div>
            <div class="col-lg-5 ">
                <div class="card  ml-minus-30  border-bottom-card p-3">
                    <h1 class="cloudin-text font-weight-light text-center">Our App Development Services</h1>
                    <h5 class="text-center mt-2">We offer our services in all the areas of mobile app development.</h5>
                    <div class="row mt-3">
                        <div class="col-lg-2  col-2">
                            <img src="assets/images/services/Logo.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10  col-10">
                            <h5>Android App Development</h5>
                            <p>Our team of Android developers work smartly to deliver a robust and secure application. We ideate, create excellent designs, develop and test to deliver bug-free apps. Our team ensures that most of the apps we develop are highly
                                scalable.
                            </p>
                        </div>
                        <div class="col-lg-2 col-2">
                            <img src="assets/images/services/Brochure.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10 col-10">
                            <h5>iOS App Development</h5>
                            <p>We have built iPhone & iPad apps from start-ups to Fortune 500 companies. Our team has expertise in strategizing, requirement gathering, seamless designing, development, rigorous testing, and deployment. .
                            </p>
                        </div>
                        <div class="col-lg-2 col-2">
                            <img src="assets/images/services/Business.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10 col-10">
                            <h5>Windows App Development</h5>
                            <p> We have a strong team that offers end-to-end windows application development services. Be it desktop, mobile or tablet we design apps with effortless navigation and high-quality customer experience along with 24×7 Support.
                            </p>
                        </div>
                        <div class="col-lg-2 col-2">
                            <img src="assets/images/services/Logo.png" class="et-waypoint et_pb_animation_off float-right img-fluid logo-fix-size " />
                        </div>
                        <div class="col-lg-10 col-10">
                            <h5>React Native Development</h5>
                            <p>React native is going to be the future of mobile app development. React Native is the native version of the JavaScript library. Our team of developers was fast enough to adapt to the new technology which made our apps perform
                                faster and better .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why V R Different Section -->
<section id="vrdifferent" class="pt-5 pb-5 mt-4 mb-4">
    <h1 class="cloudin-text text-center font-weight-lighter"> Why Cloudin for Mobile app Development </h1>
    <!-- <h4 class="lite-black-text text-center">We Are Driven By A Single Goal : The Success Of Your Business</h4> -->
    <br>
    <div class="container-fluid">
        <div class="row m-0 mt-4">
            <div class="col-lg-10 col-md-10 offset-lg-1 offset-md-1">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable height-100">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/Co_Create.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">Design & Development</a></h5>
                                <div class="desc text-center lite-black-text">
                                    We follow the latest UX trends to define user experiences based on the target audience.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable height-100">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/High_Velocity.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">The Deployment</a></h5>
                                <div class="desc text-center lite-black-text">
                                    We deploy the app to the App Store or Enterprise Store along with App store optimization (ASO).
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/Flexible.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">Maintenance</a></h5>
                                <div class="desc text-center lite-black-text">
                                    We provide the best support by addressing the new OS upgradations or version changes or launch of new devices.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card bg-none border-0 hoverable height-100">
                            <div class="card-img-top text-center">
                                <img src="assets/images/icons/whyweare/Holistic.png" class="center-block " style=" width:85px; align-content: center; ">
                            </div>
                            <div class="card-body ">
                                <h5 class="service-title head wow swing pl-0 text-center " data-wow-delay="0.7s "><a href="#" class="top-10 cloudin-text " style="color:#fff; ">Testing & QA</a></h5>
                                <div class="desc text-center lite-black-text">
                                    We work on building a Mobile product-specific Test Plan, Test scenarios and Test cases.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why V R Different Section Ends -->