<div class="container-fluid p-0">
    <div class="jumbotron bg-cover" style="background-image: linear-gradient(140deg,rgba(0,72,114,0.9) 0%,rgba(41,17,96,0.8) 100%), url(assets/services/bg.jpg)">
        <section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_bg_layout_dark et_pb_text_align_center">
            <div class="et_pb_fullwidth_header_container center">
                <div class="header-content-container center">
                    <div class="header-content">
                        <h1 class="et_pb_module_header text-white  text-center bg-word wow animated zoomIn">Our Services</h1>
                    </div>
                </div>
            </div>
            <div class="et_pb_fullwidth_header_overlay"></div>
            <div class="et_pb_fullwidth_header_scroll"></div>
        </section>
        <!-- <div class="p-9">
                <h1 class="et_pb_module_header text-white  text-center bg-word wow animated zoomIn">Our Services</h1>
            </div> -->
    </div>
    <div class="row m-minus-60">
        <div class="col-lg-6 mr-5 wow animated bounceInLeft ">
            <h6 class="blurb text-white text-right ">
                <a href="" class="text-white">GET OUR QUOTE</a>
            </h6>
        </div>
        <div class="col-lg-2 ml-5 wow animated bounceInLeft ">
            <button class="blurb1"><a href="" class="text-white">LEARN MORE</a></button>
        </div>
        <div class="col-lg-2 ml-5 wow animated bounceInLeft ">
            <button class="blurb2"><a href="" class="text-white">LEARN MORE</a></button>
        </div>

    </div>
    <div class="container mt-5">
        <div class="et_pb_section et_pb_section_2 et_section_regular">
            <div class="et_pb_row et_pb_row_0">
                <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
                    <div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">
                        <div class="et_pb_text_inner">
                            <p class="text-center">SERVICES</p>
                            <h2 class="text-center text-dark">What We Do</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_1  hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/line-icons-53.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-white mt-5">
                            <h4 class="et_pb_module_header"><span>Mobile App Development</span></h4>
                            <div class="et_pb_blurb_description">We do not just build apps, we craft top-notch mobile experiences.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_2 hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/lifesaver_64px.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-dark mt-5">
                            <h4 class="et_pb_module_header"><span>Chatbot</span></h4>
                            <div class="et_pb_blurb_description">Chat bot development for a smarter and efficient workflow.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_3 border hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/layers_64px.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-dark mt-5">
                            <h4 class="et_pb_module_header"><span>Artificial Intelligence</span></h4>
                            <div class="et_pb_blurb_description">Helping organizations become smart, agile & innovative</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_4 border hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/global_64px.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-dark mt-5">
                            <h4 class="et_pb_module_header"><span>ML and NL</span></h4>
                            <div class="et_pb_blurb_description">Our AI application development is focused on ML and NL .</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_5 hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/line-icons-76.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-white mt-5">
                            <h4 class="et_pb_module_header"><span>Blockchain technology</span></h4>
                            <div class="et_pb_blurb_description">We help businesses achieve clearness and traceability with Blockchain.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_6 hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/line-icons-35.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-white mt-5">
                            <h4 class="et_pb_module_header"><span>Web Application</span></h4>
                            <div class="et_pb_blurb_description">Our aim to letting brands get proper identity over the web.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_1 hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/line-icons-53.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-white mt-5">
                            <h4 class="et_pb_module_header"><span>UI/UX design</span></h4>
                            <div class="et_pb_blurb_description">UI/UX design solutions are rendered for exceptional user experience..</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_2 hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/lifesaver_64px.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-dark mt-5">
                            <h4 class="et_pb_module_header"><span>React Native Development</span></h4>
                            <div class="et_pb_blurb_description">We build High quality mobile application using RND.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_3 border hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/layers_64px.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-dark mt-5">
                            <h4 class="et_pb_module_header"><span>AWS&Azure</span></h4>
                            <div class="et_pb_blurb_description">Improving Public Cloud Adoption By The Enterprises.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-4">
                    <div class=" et_pb_blurb et_pb_blurb_4 border hoverable">
                        <div class="text-center"><span class="et_pb_image_wrap"><img src="assets/services/global_64px.png" sizes="(max-width: 64px) 100vw, 64px" class="et-waypoint et_pb_animation_off" /></span></div>
                        <div class="et_pb_blurb_container text-dark mt-5">
                            <h4 class="et_pb_module_header"><span>IT consulting Services</span></h4>
                            <div class="et_pb_blurb_description">Make smarter technology decisions, increase ROI and continuously improve.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid mb-5 p-0">
        <div class="et_pb_section et_pb_section_4 ">
            <div class="">
                <div class="" style="background-image: url(assets/services/it-services-04.jpg);"></div>
            </div>
            <section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_1 ">
                <div class="et_pb_fullwidth_header_container left row">
                    <div class="header-content-container center col-lg-6 p-left col-md-6 col-sm-12 ">
                        <div class="header-content margin-left-set">
                            <h1 class="">We Create Products that Supports Cross Platform Devices.</h1>
                            <div class="et_pb_header_content_wrapper"> Cross-platform development is the ability to build and deliver apps that can run across multiple device platforms, such as iOS, Android, and the Universal Windows Platform. Beyond mobile, it is the process of creating software,
                                applications, or services that can run on more than one platform or operating system.</div>
                            <a class="et_pb_button et_pb_more_button et_pb_button_one get-start-button" href="http://www.cloudintechnologies.com">Get Started</a>
                        </div>
                    </div>
                    <div class="header-image-container center col-lg-6 col-md-6 col-sm-12 ">
                        <div class="header-image margin-right-set">
                            <img src="assets/services/it-services-03.png" class="img-fluid wow animated rollIn">
                        </div>
                    </div>
                </div>
                <div class="et_pb_fullwidth_header_overlay"></div>
                <div class="et_pb_fullwidth_header_scroll"></div>
            </section>
        </div>
    </div>
    <div classs="container">

    </div>

</div>