<!-- Footer Section -->
<section id="footer">
    <footer class="footer-section pt-5 pb-5">
        <div class="container ">
            <div class="row ">
                <!-- Start: About -->
                <div class="col-md-3 col-sm-4 col-xs-6 ">
                    <div class="widget bg-light img-thumbnail" style="width: fit-content;padding: 0px 10px;">
                        <a href="index.html "><img alt=" " class="marginbot10 " src="assets/images/cloudin/footer_logo.png"></a>
                        <p class="ml-4 cloudin-text">Cloudin</p>
                    </div>
                </div>
                <!-- End: About -->
                <!-- Start: Latest post -->
                <div class="col-md-3 col-sm-4 col-xs-6 ">
                    <div class="widget ">
                        <h5>Links</h5>
                        <a href="Terms.html " style="color:White; ">Terms & Conditions</a>
                        <br />
                        <a href="Pricing.html " style="color:White; ">Pricing Policy</a>
                        <br />
                        <a href="Privacy.html " style="color:White; ">Privacy Policy</a>
                        <br />
                        <a href="Refund.html " style="color:White; ">Refund Policy</a>

                    </div>
                </div>
                <!-- End: Latest post -->
                <!-- Start: Explor link -->
                <div class="col-md-3 col-sm-4 col-xs-12 ">
                    <div class="widget ">
                        <h5>Subscribe</h5>
                        <div class="widget_mailchimp " id="mailchimp-2 ">
                            <div id="mc_embed_signup ">
                                <div class="mailchimp-subtitle ">
                                    Enter your email and we'll send you a coupon with 10% off your next order.
                                </div>
                                <form action="# " class="validate " id="mc-embedded-subscribe-form " method="post " name="mc-embedded-subscribe-form " novalidate=" " target="_blank ">
                                    <span class="icon-mail6 icon "></span>
                                    <input type="text" class="form-control" name="email" placeholder="Your Email" required="true"> <br>
                                    <button name="subscribe " type="submit " class="form-control btn btn-danger">Subscribe now! </button>
                                </form>
                                <div class="mailchimp-description "></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Explor link -->
                <!-- Start:Tag -->
                <div class="col-md-3 col-sm-12 col-xs-12 ">
                    <div class="widget contact_info ">
                        <h5>contact info</h5>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <p>Cloudin, Peelamedu,<br /> Coimbatore,<br /> Tamil Nadu,<br /> India.</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <p>info@cloudinteam.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End:Tag -->
            </div>
        </div>
        <!-- Start:Subfooter -->
        <div class="subfooter ">
            <div class="col-md-6 col-sm-9 col-xs-12 ">
                <p>2019 © Copyright <a href="index.html ">Cloudin.</a> All rights Reserved.</p>
                <div class="col-md-6 col-sm-3 ">
                    <a class="scrollup foot-abt " href="# "><span class="arrow_carrot-up "></span></a>
                </div>
            </div>
        </div>
        <!-- End:Subfooter -->
    </footer>
</section>
<!-- Footer Section Ends -->