<section class="banner p-5 p-lg-5 p-md-5 p-sm-5 p-xl-5">
    <div class="row p-5 p-lg-5 p-md-5 p-sm-5 p-xl-5">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 banner-content">
            <div class="float-right padding-right">
                <h5>
                    WELCOME |  
                </h5>
                <h5 class="color-pink"> R & D</h5>
            </div>
            <div class="col-2 col-lg-2 col-md-2 col-sm-2 col-xl-2">
                <img src="../../assets/images/randd/r&d_logo.png" alt="" class="img-fluid" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
            <h4 class="font-weight-bold text-capitalize">
                R & D Department
            </h4>
            <h5 class="text-capitalize p-2 p-lg-2 p-md-2 p-sm-2 p-xl-2 font-italic">
                The Value of an idea lies in the using of it
            </h5>
            <button class="p-2 p-lg-2 p-md-2 p-sm-2 p-xl-2 btn btns btn-light"><label class="register">Registration</label></button>
        </div>
    </div>
</section>
<section>
    <div class="row pt-5 pt-lg-5 pt-md-5 pt-sm-5 pt-xl-5 pl-5 pl-lg-5 pl-md-5 pl-sm-5 pl-xl-5 pt-5">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <img src="../../assets/images/randd/01.jpg" alt="" class="" >
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <div class="row"><p>01</p></div>
            <div class="">
                <h5 class="text-capitalize" >
                    Research & Development (R&D) might mean different things to different IT / ICT firms depending on which IT / ICT areas / business they are operating. E.g. R&D for IT hardware companies might focus only on R&D how to develop the fastest compute hardware / network fabric, largest storage capacity & most effective throughput etc.
                </h5>
            </div>
        </div>
    </div>
    <div class="row pt-5 pt-lg-5 pt-md-5 pt-sm-5 pt-xl-5 pl-5 pl-lg-5 pl-md-5 pl-sm-5 pl-xl-5 pt-5 pr-5">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <div class="row"><p>02</p></div>
            <h5 class="text-capitalize" >
                R&D for software companies might include developing the most secured applications, migrate / rewrite monolithic applications to cloud native applications, develop new applications based on blockchain technologies, develop new programming language which can be easy to learn / use or improve programmers / business users' productivity etc.
            </h5>
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <img src="../../assets/images/randd/02.jpg" alt="" class="" >
        </div>
    </div>
    <div class="row pt-5 pt-lg-5 pt-md-5 pt-sm-5 pt-xl-5 pl-5 pl-lg-5 pl-md-5 pl-sm-5 pl-xl-5 pt-5 pr-5">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <img src="../../assets/images/randd/03.jpg" alt="" class="" >
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
            <div class="row"><p>03</p></div>
            <h5 class="text-capitalize">
                Some IT / ICT professional service companies or marketing department of some ICT companies do conduct social science related research to assess user experience in using their hardware or software through online survey questionnaire, interview end users / customers to solicit their wish list / brainstorm to generate new ideas on how to best develop hardware or software that can better transform their customers' business processes etc.
            </h5>
        </div>
    </div>
</section>
<section class="section-bg mt-5 mt-lg-5 mt-md-5 mt-sm-5 mt-xl-5 pt-5 pt-lg-5 pt-md-5 pt-sm-5 pt-xl-5 pb-5 pb-lg-5 pb-md-5 pb-sm-5 pl-xl-5 w-100 h-100">
    <div class="card card-content m-5 m-lg-5 m-md-5 m-sm-5 my-xl-5 p-5 p-lg-5 p-md-5 p-sm-5 p-xl-5">
        <div class="row">
            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6" style="background: #e8f0f8;">
                <img src="../../assets/images/randd/Image_03.jpg" alt="" class="card-img-bottom pt-3 pt-lg-3 pt-md-3 pt-xl-3 pt-sm-3 pb-3 pb-lg-3 pb-md-3 pb-xl-3 pb-sm-3" >
            </div>
            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                <div class="row">
                    <img src="../../assets/images/randd/Quotes-01.png" alt=""  class="pl-2 pl-lg-2 pl-md-2 pl-sm-2 pl-xl-2 w-25 h-25">
                </div>
                <h5 class="text-capitalize">
                    In order to have a productive discussions with these IT / ICT companies, it will be good to find out which R&D areas they are embarking on / talking about or try to discover some insight first through Internet search or other sources. 
                </h5>
                <h5 class="color-pink text-center font-italic text-capitalize">
                    Don't feel Surprise
                </h5>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row ">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 pl-5 pl-lg-5 pl-md-5 pl-sm-5 pl-xl-5 pt-5 pt-lg-5 pt-md-5 pt-sm-5 pt-xl-5 pr-5 pr-lg-5 pr-md-5 pr-sm-5 pr-xl-5">
            <h4 class="text-center font-italic text-capitalize pl-5 pl-lg-5 pl-md-5 pl-sm-5 pl-xl-5 pt-5 pt-lg-5 pt-md-5 pt-sm-5 pt-xl-5 pr-5 pr-lg-5 pr-md-5 pr-sm-5 pr-xl-5">sometimes these IT / ICT companies might not share what actual R&D they are doing as they want to keep this as their top secret due to competition reason.</h4>
        </div>
    </div>
</section>
<section class="pt-5 pt-lg-5 pt-md-5 pt-sm-5 pt-xl-5">
    <div class="container">
        <div class="card">
            <div class="row" id="registration">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 p-4">
                    <h3 class="text-center">R & D</h3>
                    <h4 class="text-capitalize text-center">Registration</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">
                    <form class="p-5 p-lg-5 p-md-5 p-sm-5 p-xl-5">
                        <div class="form-group row">
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="your_name" class="floating-label">Your Name</label>
                                <input type="text" class="form-control" id="your_name" placeholder="">
                            </div>
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="company_name">Company Name</label>
                                <input type="text" class="form-control" id="company_name" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="size_of_employee">Size of Employee</label>
                                <select class="form-control" id="size_of_employee">
                                    <option>
                                    <option>1-5</option>
                                    <option>5-25</option>
                                    <option>25-50</option>
                                    <option>50-75</option>
                                    <option>More than 100</option>
                                </select>
                            </div>
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="position" class="floating-label">Your Position in Company</label>
                                <input type="text" class="form-control" id="position" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="b_email" class="floating-label">Business E-Mail</label>
                                <input type="email" class="form-control" id="b_email" placeholder="">
                            </div>
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="contact_no" class="floating-label">Contact Number</label>
                                <input type="number" class="form-control" id="contact_no" placeholder="" min="0">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="company_type">Company Type</label>
                                <select class="form-control" id="company_type">
                                    <option></option>
                                    <option>Proprietorship</option>
                                    <option>Partnership</option>
                                    <option>PVT LTD</option>
                                    <option>Public LTD</option>
                                </select>
                            </div>
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xl-6">
                                <label for="interest">Choose Your Interest</label>
                                <select class="form-control" id="interest">
                                    <option></option>
                                    <option>Investing</option>
                                    <option>Research Your Product</option>
                                    <option>Research Your Proposal</option>
                                    <option>Consulting</option>
                                    <option>Reports about Comparative and Copyright Model</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 text-center">
                                <button class="btn btns badge-danger">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>
    

