@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.client-box {
    width: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
    -ms-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
    -o-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
    min-height: 120px;
    max-height: 120px;
    line-height: 120px;
}

.client-box,
.client-box img,
.client-box:hover,
.client-box:hover img {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.vertical-center,
.testimonial_text {
    height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.client-box img:hover {
    filter: grayscale(0);
}

.client-box img {
    filter: grayscale(1);
}